.app-asmt__levels {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-asmt__level {
  padding: .5rem 1rem;
  color: #fff;
  background-color: steelblue;
  text-decoration: none;
  margin-right: .5rem;
}
