.tp-wrapper {
  perspective: 800px;
}

.tp-box {
  position: relative;
  width: 700px;
  height: 450px;
  margin: 1rem 10px;
  transform-style: preserve-3d;
  transform: transform 1s;
}
.tp-box__side {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;

  color: #fff;
  text-align: center;
  font-size: 18px;
  /*font-weight: 700;*/
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
    overflow-y: auto;
}
.tp-box__front {
  background: green;
  transform: rotateY(0deg);
}
.tp-box__back {
  background: #23262d;
  transform: rotateY(-180deg);
  padding: 20px 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .tp-box {
    width: 90vw;
    height: 600px;
  }
}
