.topic-header,
.topic-count {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.topic-questions {
  max-height: 100vh;
  max-width: 16rem;
  overflow-y: auto;
}

.topic-questions p {
  cursor: pointer;
  font-family: var(--secondary-font);
  border-bottom: .0625rem solid grey;
  margin: 0;
  padding: .5rem;
}

.topic-questions p.active,
.topic-questions p:hover {
  color: darkred;
}

.topic-questions__toggle {
  background-color: #fff;
  color: darkred;
  border: .0625rem solid darkred;
  margin: 1rem 0;
  padding: .75rem;
}

.topic__content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.topic-buttons {
  display: flex;
  justify-content: center;
}

.topic-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 .25rem;
}

.topic-buttons button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.topic-buttons button img {
  width: 1.5rem;
  height: 1.5rem;
}


@media screen and (max-width: 64rem) {
  .topic-questions {
    max-width: 100%;
  }

  .topic__content {
    display: block;
  }
}

@media screen and (min-width: 64rem) {
  .topic-questions__toggle {
    display: none;
  }
}
