<button routerLink="/home" class="home-button">Back to home</button>

<h4 class="topic-header">Category: {{topicId | humanSlug}}</h4>
<p class="topic-count">{{start + 1}} / {{cards.length}}</p>
<div class="cards">
  <card
    *ngFor="let card of learningCards"
    [question]="card.question"
    [answer]="card.answer"
  ></card>
</div>
<div class="buttons">
  <button [disabled]="start === 0" (click)="calcLearningCards(0)">Prev</button>
  <button [disabled]="end >= cards.length" (click)="calcLearningCards(1)">Next</button>
  <button (click)="randomize()">Randomize</button>
</div>
