:root {
  --main-font: 'Aboreto', cursive;
  --secondary-font: 'Lato'
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

